* {
  box-sizing: border-box;
}
.NPuzzle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.NPuzzle-table {
  max-width: 712px;
  aspect-ratio: 1/1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NPuzzle-board {
  max-width: 100%;
  aspect-ratio: 1/1;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  border: 7px solid #db7400;
  border-radius: 17px;
  background-color: #f2cb0a;
}
